@if (!currentState) {
<p>loading gameboard</p>

} @else {
<div class="background" (click)="onClick($event)"></div>
@for (tank of currentState.tanks; track $index; let idx = $index){
<img
  class="tank"
  style.left="{{ tank.sprite.x }}px"
  style.top="{{ tank.sprite.y }}px"
  style.transform="rotate({{ tank.rotation }}rad)"
  src="{{ idx === clientIdx ? 'blueTank.png' : 'redTank.png' }}"
  (click)="onClick($event)"
/>
}

@for (bullet of currentState.bullets; track $index) {
<img
  class="bullet"
  style.left="{{ bullet.dSprite.sprite.x }}px"
  style.top="{{ bullet.dSprite.sprite.y }}px"
  style.transform="rotate({{ bullet.dSprite.rotation }}rad)"
  src="bullet.png"
  width="17px"
  height="32px"
  (click)="onClick($event)"
/>
}

@for (wall of walls.slice(4); track wall.x) {
  <div
    class="wall"
    style.left="{{ wall.x }}px"
    style.top="{{ wall.y }}px"
    [style.background-image]="'url(wall.png)'"
    style.width="{{ wall.width }}px"
    style.height="{{ wall.height }}px"
    (click)="onClick($event)"
  ></div>
}
}