<div class="background" (click)="onClick($event)"></div>
<img
  class="tank"
  style.left="{{ playerTank.getPosition()[0] }}px"
  style.top="{{ playerTank.getPosition()[1] }}px"
  style.transform="rotate({{ playerTank.getRotation() }}rad)"
  [src]="playerTank.getSprite()"
  [width]="playerTank.getWidth()"
  [height]="playerTank.getHeight()"
/>

@for (tank of enemyTanks; track tank.getId()){
<img
  class="tank"
  style.left="{{ tank.getPosition()[0] }}px"
  style.top="{{ tank.getPosition()[1] }}px"
  style.transform="rotate({{ tank.getRotation() }}rad)"
  [src]="tank.getSprite()"
  [width]="tank.getWidth()"
  [height]="tank.getHeight()"
/>
}

@for (bullet of bullets; track bullet.getId()) {
<img
  class="bullet"
  style.left="{{bullet.getPosition()[0]}}px"
  style.top="{{ bullet.getPosition()[1] }}px"
  style.transform="rotate({{ bullet.getRotation() }}rad)"
  [src]="bullet.getSprite()"
  [width]="bullet.getWidth()"
  [height]="bullet.getHeight()"
/>
}

@for (wall of walls.slice(4); track wall.getId()) {
  <div
    class="wall"
    style.left="{{ wall.getPosition()[0] }}px"
    style.top="{{ wall.getPosition()[1] }}px"
    style.background="url({{ wall.getSprite() }})"
    style.background-size="{{ wall.getTileSize() }}px"
    style.width="{{ wall.getWidth() }}px"
    style.height="{{ wall.getHeight() }}px"
  ></div>
}
