.background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #141414;
}

.bullet {
  position: fixed;
  z-index: 1;
}

.tank {
  position: fixed;
  z-index: 2;
}

.wall {
  position: fixed;
  z-index: 3;
  object-fit: scale-down;
  padding: 0;
  margin: 0;
}

.voice-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  background: white;
  border: 1px solid black;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}
